html {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
}

.firstPage{
    /* background-image: linear-gradient(135deg, #231437 0%, #2c385e 50%, #336e6b 100%); */
    background: url(assets/hulubackground.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    background-color: rgba(105, 100, 95, 0.5);
    background-blend-mode: multiply;
}

.login {
    color: white;
    padding: 25px;
    display: flex;
    justify-content: flex-end;
}

.loginButton {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: none;
    font-size: medium;
}

.try {
    color: #8bc34a;
    font-weight: bold;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-size: small;
}

.hulu {
    display: flex;
    justify-content: center;
}

.watch {
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    padding-bottom: 10px;
}

.addons {
    color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.trialButton {
    display: flex;
    justify-content: center;
}

.trial{
    background-color: white;
    color: black;
    height: 60px;
    width: 265px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: medium;
}

.subscribersText {
    color: darkgrey;
    display: flex;
    justify-content: center;
    font-size: x-small;
    padding: 10px;
}

.secondPage {
    background-color: black;
    height: 150vh;
}

.inclusions {
    color: #8bc34a;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.streamingHeader {
    color: white;
    font-weight: 1000;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-align: center;
}

.streamText {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;
    padding-top: 10px;
}

img {
    height: 200px;
    width: 280px;
    z-index: 2;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    color: white;
}

.tvShows {
    background: url(assets/bobsburgers.png);
    background-color: rgba(105, 100, 95, 0.5);
    background-blend-mode: multiply;
    height: 430px;
    width: 280px;
    background-size: cover;
}

.movies {
    background: url(assets/palmsprings.jpg);
    background-color: rgba(105, 100, 95, 0.5);
    background-blend-mode: multiply;
    height: 430px;
    width: 280px;
    background-size: cover;
}

.huluOriginals {
    background: url(assets/littlefires.jpg);
    background-color: rgba(105, 100, 95, 0.5);
    background-blend-mode: multiply;
    height: 430px;
    width: 280px;
    background-size: cover;
}

.kids {
    background: url(assets/trolls.jpg);
    background-color: rgba(105, 100, 95, 0.5);
    background-blend-mode: multiply;
    height: 430px;
    width: 280px;
    background-size: cover;
}

.smallText {
    padding-left: 10px;
}

.largeText {
    padding-left: 10px;
}